#.npmrc
# Hoist các package liên quan đến Prisma và ESLint để tránh lỗi resolution
public-hoist-pattern=*prisma*
public-hoist-pattern=*@prisma*
public-hoist-pattern=*eslint*
public-hoist-pattern=*prettier*

# Cho phép liên kết workspace
link-workspace-packages=true